<!--
	The main navigation bar of the page on the top.
-->
<nav class="navbar navbar-expand-lg navbar-dark navigation-bar">
	<div class="container-fluid">
		<img class="navbar-brand" src="/assets/images/icon.png" alt="sim2team icon">

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar" title="navbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="main-navbar">
			<div class="navbar-nav">
				<a href="/" class="nav-link">Home</a>
				<a href="/about" class="nav-link">About</a>
				<a href="/sim2server" class="nav-link">Sim2Server</a>
				<a href="https://sim2team.github.io/Sim2Editor/" class="nav-link">Sim2Editor</a>
			</div>
		</div>
	</div>
</nav>